In [13]:
import pandas as pd
import numpy as np

In [14]:
Headers = ["RI" , "Na", "Mg", "Al", "Si", "K", "Ca", "Ba", "Fe", "Type"]

In [15]:
Veriseti = pd.read_csv("glass.data" , sep = "," , names = Headers)

In [16]:
Veriseti.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [17]:
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

In [18]:
names = ["XGBoost", "SVC", "RandomForest", "LogisticRegression"]

In [19]:
classifiers = [
    xgb.XGBClassifier(objective = "multiclass:softmax", num_class = 6, n_estimators = 1000),
    SVC(kernel = 'linear', C = 100000, random_state = 0),
    RandomForestClassifier(),
    LogisticRegression(solver = "lbfgs", max_iter = 100000)
]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(Veriseti.iloc[:, :-1], Veriseti.iloc[:, -1], test_size = 0.3)

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(y_train)

In [22]:
model_cols = []
df = pd.DataFrame(columns = model_cols)
index = 1

In [23]:
for name, clf in zip(names, classifiers):
    clf.fit(X_train, y_train)
    preds = clf.predict(X_test)
    preds = le.inverse_transform(preds)
    df.loc[index, 'Classifiers'] = name
    df.loc[index, "F1 Score"] = f1_score(y_test, preds, average = "weighted")
    index = index + 1

In [24]:
df

          Classifiers  F1 Score
1             XGBoost  0.845515
2                 SVC  0.738673
3        RandomForest  0.880554
4  LogisticRegression  0.707820